<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.excellenceict.ocean_erp">
    <!-- <permission -->
    <!-- android:name="info.android.permission.MAPS_RECEIVE" -->
    <!-- android:protectionLevel="signature" /> -->
    <uses-permission android:name="info.android.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LeaveLogDetails_Activity"></activity>
        <activity android:name=".My_Leave_Activity" />
        <activity android:name=".Leave_Log_Activity" />
        <activity android:name=".Ledger_Position_Activity" />
        <activity android:name=".Chart_of_account_details_Dynamic_Activity" />
        <activity android:name=".ChartOfAccounts_Activity" />
        <activity android:name=".ChangePassWord_Activity" />
        <activity android:name=".Profile_NameUpdate_Activity" />
        <activity android:name=".InfoBtn_Activity" />
        <activity android:name=".Profile_Activity" />
        <activity android:name=".Chalan_Report_Details_Activity" />
        <activity android:name=".Chalan_Report_Summary_Activity" />
        <activity android:name=".Sales_Report_Details_Activity" />
        <activity android:name=".Sales_Report_Summary_Activity" />
        <activity android:name=".Expiory_List_Activity" />
        <activity android:name=".Party_Due_Statement_Activity" />
        <activity android:name=".View_Voucher_Activity" />
        <activity android:name=".Sales_Chalan_Activity" />
        <activity android:name=".Bill_Invoice_Activity" />
        <activity android:name=".CurrentStock_Activity" />
        <activity android:name=".MyAttendence_DetailsUpdate_Activity" />
        <activity android:name=".MyAttendence_Details_Activity" />
        <activity android:name=".Test_Activity" />
        <activity android:name=".EmpInfo_detiles_Activity" />
        <activity android:name=".Blood_Bank_Activity" />
        <activity android:name=".EmpInfo_Activity" />
        <activity android:name=".AttendenceLog_Details_Activity" /> <!-- android:theme="@style/Theme.AppCompat.Dialog.Alert" -->
        <activity android:name=".MyAttencence_Activity" />
        <activity android:name=".MyTeamsAttendance_Activity" /> <!-- android:theme="@style/Theme.AppCompat.Light.DarkActionBar" -->
        <activity android:name=".AttendenceLog_Activity" />
        <activity android:name=".Misc_Activity" />
        <activity android:name=".Acc_Activity" />
        <activity android:name=".INV_Activity" />
        <activity android:name=".HRM_Activity" />
        <activity android:name=".Menu_Activity" />
        <activity
            android:name=".Login_Activity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.excellenceict.ocean_erp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>